*{
    margin: 0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}
.container{
    width: 80;
    height: 400px;
    border: 2px solid black;
    max-width: 900px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.box{
    background-color: salmon;
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

}
.box1{
    background-color: lightblue;
}
.box2{
    background-color: lightgreen;
}
.box3{
    background-color: lightcoral;
}
.bo1{
    background-color: lightseagreen;
}
.bo2{
    background-color: lightskyblue;
}
header{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav{
    width: 40%;
    height: 50px;
    background-color: rgb(175, 55, 55);
}
.logo{
    width: 20%;
    height: 50px;
    background-color: rgb(197, 41, 41);
}